<%- include('../public/style.ejs'); %> <% if(notes){%> %>
<div class="popup">
	<textarea id="display"></textarea>
	<button type="submit" value="send" class="update">UPDATE</button>
	<button class="close">CANCEL</button>
</div>
<ol>
	<% notes.forEach(note=>{%>
	<li>
		<h2><%=note.title%></h2>
		<img src="<%= note.image %>" />
		<p><%= note.content %></p>
		<button onclick="editButton('<%= note.content %>')">EDIT</button>
		<button class="delete">DELETE</button>
	</li>
	<% }) %>
</ol>
<% }%> <%- include('../public/script.ejs'); %>
